
.body {
  background-color: #707070;
  color: white;
}

.button { /* for the search button */
  background-color: white;
  border: none;
  color: dimgrey;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.parentContainerListVertical {
  display: flex; /* or inline-flex */
  flex-direction: column; /*order left to right normally*/
  flex-wrap: wrap; /*place second item below when small*/
  justify-content: space-between; /* justifies to far left and right, may not work on Edge */
}
/* This is the parent flex box */
.parentContainerPairHorizontal {
  display: flex; /* or inline-flex */
  flex-direction: row; /*order left to right normally*/
  flex-wrap: wrap; /*place second item below when small*/
  justify-content: space-between; /* justifies to far left and right, may not work on Edge */
  align-items: flex-start;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.subContainerPairHorizontal {
  display: flex; /* or inline-flex */
  flex-direction: row; /*order left to right normally*/
  flex-wrap: wrap; /*place second item below when small*/
  justify-content: space-between; /* justifies to far left and right, may not work on Edge */
  align-items: flex-start;
  padding: 30px;
}

.subContainerPairVertical {
  display: flex; /* or inline-flex */
  flex-direction: column; /*order left to right normally*/
  flex-wrap: wrap; /*place second item below when small*/
  justify-content: center; /* id like this to say space-between but it is not supported on edge*/
  padding-right: 25px;
  padding-bottom: 25px;
}

.dropdown { /* makes the dropdown fields appear side by side */
  display: block;
  padding-bottom: 50px;
  padding-right: 50px;
}

.filterBody { /* CSS style for the whole search page */
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-check {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

header {
  background-color: #303030;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
}

/*this is the child flex box*/
.item {
  order: 0; /* default is 0 */
  padding: 25px;
}
/*this is the child flex box*/
.sub-item {
  order: 0; /* default is 0 */
  padding: 25px;
}
/*this is the child flex box*/
.sub-sub-item {
  order: 0; /* default is 0 */
  padding: 25px;
}

.nav-link {
  color: white;
}

.promptHeader { /* The descriptive text at the top of each search page*/
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  padding: 30px;
}

#resultsButtonContainer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

/* might need this, was previously used for typescript */
#typeSelector {
  padding-left: 40px;
}

ul.movementCheckbox {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 1; /* makes items stay in one column */
}

ul.movementCheckbox li input {
  margin-right: 0.25em; /* adjusts the margin between the checkbox and the label */
}

.filter-component {
  font-weight: bold;
}

.promptHeader {
  padding-top: '20px';
  padding-left: '50px';
  padding-right: '20px';
}

.gridFormatAlignment {
  display: grid;
  grid-template-columns: 160px 175px 150px;
}

.playerLevelItem {
  list-style-type: none;
  padding: 2px;
}